USE [master]
GO
/****** Object:  Database [FeedBack4eTask]    Script Date: 1.04.2023 16:42:23 ******/
CREATE DATABASE [FeedBack4eTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FeedBack4eTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FeedBack4eTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FeedBack4eTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FeedBack4eTask_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FeedBack4eTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FeedBack4eTask]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1.04.2023 16:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 1.04.2023 16:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NOT NULL,
	[CityIata] [nvarchar](max) NOT NULL,
	[StateCode] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NOT NULL,
	[CountryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Airports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230330202518_Initial_Mig', N'7.0.4')
GO
SET IDENTITY_INSERT [dbo].[Airports] ON 

INSERT [dbo].[Airports] ([Id], [CityName], [CityIata], [StateCode], [CountryCode], [CountryName]) VALUES (1, N'Anaa', N'AAA', NULL, N'PF', N'French Polynesia')
INSERT [dbo].[Airports] ([Id], [CityName], [CityIata], [StateCode], [CountryCode], [CountryName]) VALUES (2, N'Annaba Les Salines', N'AAE', NULL, N'DZ', N'Algeria')
INSERT [dbo].[Airports] ([Id], [CityName], [CityIata], [StateCode], [CountryCode], [CountryName]) VALUES (3, N'Aalborg', N'AAL', NULL, N'DK', N'Denmark')
GO
SET IDENTITY_INSERT [dbo].[Airports] OFF
GO
USE [master]
GO
